.side-navbar {
    background: #bd5d38;
}

@media only screen and (min-width:600px) {
    .d-flex {
        display: block;
    }
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com) format('woff2');
}

body {
    font-family: 'open sans';
}

.about,
.experience,
.education,
.skills,
.interests {
    border-bottom: 0.5px solid;
}

.img {
    height: 33%;
    width: 33%;
    border-radius: 50%;
}